.background_bleu {
    background-color: #000000;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    max-width: 95%;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

.logo {
    height: 68px;
    width: 210px;
}

.nav_ul {
    display: flex;
    gap: 57px;
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: right;
}

a {
    text-decoration: none;
    color: white;
}

/* Bouton hamburger pour les appareils mobiles */
.hamburger {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2em;
}

@media screen and (max-width: 992px) {
    .logo {
        width: 145px;
        height: 47px;
    }

    .navbar {
        max-width: 90%;
    }

    .nav_ul {
        display: none; /* Cache la navigation par défaut */
        flex-direction: column;
        gap: 20px;
        width: 100%;
        font-size: 16px;
        line-height: 24px;
    }

    .nav.expanded .nav_ul {
        display: flex; /* Affiche la navigation en mode déroulant */
    }

    .hamburger {
        display: block; /* Affiche le bouton hamburger */
    }
}
